//Definitions
$darkest-color: rgb(30, 30, 30);
$darker-color: rgb(40, 40, 40);
$primary-color: rgb(50, 50, 50);
$lighter-color: rgb(120, 120, 120);
$lightest-color: rgb(200, 200, 200);
$highlight-color: white;
$text-color: rgb(157, 157, 157);
$link-color: lightslategray;

$heading-font: 'Bangers', cursive;
$text-font: 'Roboto', sans-serif;

@mixin text-shadow {
  text-shadow:
    1px 1px 1px #000,
    5px 5px 8px $darkest-color;
}

//Global Styles

/* Grid (Not Implemented)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  @media (min-width: 400px) {
    width: 85%;
  }
  @media (min-width: 550px) {
    width: 80%;
  }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color;
  font-family: $text-font;
  font-size: 1.5em;
  line-height: 2rem;
  color: $text-color;
  margin: 0;
  min-width: 350px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
  color: $lightest-color;
  @include text-shadow;
}
h1 {
  font-family: $heading-font;
  font-size: 4rem;
  line-height: 1.2;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0;
  padding: 3rem 1.5rem 1rem;
  @media (min-width: 400px) {
    padding: 3rem 0 1rem;
  }
  text-transform: uppercase;
  border-bottom: 2px solid $lightest-color;
}

p {
  line-height: 2.2rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $lightest-color;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
      color: $highlight-color;
      @include text-shadow;
  }
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  &:hover, &:focus {
    color: $highlight-color;
    @include text-shadow;
  }
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  border: 1px solid lighten($lightest-color, 10%);
  background: $lighter-color;
  border-radius: 6px;
  font-size: 1.4rem;
  padding: 0 1rem;
  color: black;
  width: 70%;
  @media (min-width: 400px) {
    width: 80%;
    font-size: 1.8rem;
  }
  &:focus {
    
  }
}

label,
legend {
  color: $lightest-color;
}

fieldset {
  
}

input[type="checkbox"],
input[type="radio"] {
  
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  
}

ol {
  
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  main & {
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 1px solid $lighter-color;
    background-color: $darker-color;
    a {
      line-height: 4rem;
      font-size: 1.8rem;
      padding: 0 0 0 1rem;
    }
  }
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  
}

pre > code {
  
}



/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {

}

input,
textarea,
select,
fieldset {
  
}

pre,
blockquote,
dl,
figure,
table,
p,
ul
ol,
form {
  
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
  box-sizing: border-box; }
.max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.pull-right {
  float: right; }
.pull-left {
  float: left; }
.hidden {
  display: none;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }

//Shared Page Elements

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  height: 5rem;
  background-color: $darkest-color;
}

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main, section {
  display: block;
}

main {
  padding: 5rem 0;
  min-height: 800px;
}

article {
  margin: 0 auto;
  padding: 5rem;
  background-color: $darkest-color;
  border-radius: 1rem;
  @media (min-width: 400px) {
    margin: 5rem auto;
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-color: $darkest-color;
  padding: 1.5rem;
  p {
    margin-left: 2rem;
  }
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  float: left;
  margin: 0;
  padding: 15px;
  font-family: $heading-font;
  font-size: 2rem;
  color: $lightest-color;
  @include text-shadow;
}

nav {
  float: none;
  clear: both;
  margin: 0.75rem 0;
  @media (min-width: 400px) {
    float: right;
    clear: none;
    margin: 0;
  }
  li {
    float: none;
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    &:hover {
      background-color: $primary-color;
    }
    @media (min-width: 400px) {
      float: left;
    }
    a {
      display: block;
      line-height: 2rem;
      padding: 1.5rem;
      color: $lightest-color;
      &.current {
        color: $highlight-color;
        font-weight: bold;
      }
      &:hover {
        color: white
      }
    }
  }
}

#navbar-toggle {
  position: relative;
  display: block;
  float: right;
  margin: 0.8rem 1.5rem 0.8rem 0;
  padding: 1rem;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $darker-color;
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $lighter-color;
  }
  .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 400px) {
    display: none;
  }
}

.collapse {
  display: none;
  visibility: none;
}

#navbar-collapse.collapse {
  @media (min-width: 400px) {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
  }
}

.current-page {
  color: $highlight-color;
  font-weight: bold;
}

//Page Specific Elements

/* Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#new-entry,
#entry-list {
  li {
    &:hover {
      background-color: lighten($darker-color, 10%);
    }
    .date {
      float: right;
      position: relative;
      right: 1rem;
      padding: 10px 6px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        color: $highlight-color;
        @include text-shadow;
      }
    }
  }
}


/* Create/Edit
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#entry-create,
#entry-edit,
#login {
  li * {
    float: left;
  }
  label {
    display: inline-block;
    line-height: 4rem;
    text-align: right;
    padding-right: 2rem;
    width: 6rem;
  }
  input[type="text"],
  input[type="password"] {
    margin: 0;
    line-height: 4rem;
  }
  textarea::-webkit-scrollbar-track-piece {

  }
}

#form-buttons {
  margin: 0 0 0 6rem;
  .button {
    float: none;
    background: none;
    border: 0;
    width: 8rem;
    cursor: pointer;
    padding: 8px 10px;
    font-size: 1.8rem;
    color: $link-color;
    &:hover,
    &:focus {
      color: white;
    }
  }
}

/* Detail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#entry-detail {
  h1 {
    margin-bottom: 0;
  }
  .date {
    margin-top: 0;
    padding-top: 0;
    font-weight: 200;
    font-style: italic;
  }
  code {
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    white-space: normal;
    color: lighten($link-color, 10%);
    padding: 1px 4px;
    background-color: $darker-color;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
  }
}

.codehilite {
  pre {
    padding: 1em;
    margin: 1em 0;
    background-color: $darker-color;
    border: 1px solid $lighter-color;
    border-radius: 4px;
    width: auto;
    overflow: auto;
    font-family: Consolas, Monaco, Courier New;
  }
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about-text {
  h1 {
    text-align: center;
  }
}

/* Login
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#login {
  label {
    width: 10rem;
  }
}

#form-buttons {
  margin: 0;
  padding-left: 10rem;
}

/* Codehilite
–––––––––––––––––––––––––––––––––––––––––––––––––– */

