{% extends "base.jinja2" %}
{% block body %}
  <section id="about-text">
    <div class="container">
      <article>
        <h1>Learning Journal</h1>
        <p>This project was created as part of the pre-work for the <a href="https://www.codefellows.org/development-accelerators/">Code Fellows Python Development Accelerator</a>.</p>
        <p> <a href="http://sass-lang.com">Sass</a> was used to facilitate stylesheet creation, and effort was made towards a responsive design. Although no CSS frameworks are used directly, inspiration for the CSS organization was heavily inspired by <a href="http://getskeleton.com">Skeleton</a>.</p>
        <p>Built on the <a href="http://www.pylonsproject.org/">Pyramid</a> web framework, this learning journal will list recent entries in descending order. Authorized users can add and edit existing entries.
</p>
      </article>
    </div>
  </section>
{% endblock %}
