<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Bangers|Roboto' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/codehilite.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="full-width clearfix">
      <a href="/" class="logo">Learning Journal</a>
      <button id="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <nav id="navbar-collapse" class="collapse">
        <ul>
          <li><a href="{{ request.route_url('about')}}">About</a></li>
          <li><a href="https://github.com/jonathanstallings/learning-journal" target="_blank">Source</a></li>
          {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
          {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      <p>Created by Jonathan Stallings.<br />Available under the <a href="https://raw.githubusercontent.com/jonathanstallings/learning-journal/master/LICENSE" target="_blank">MIT license.</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/journal.js"></script>
  </body>
</html>
