<section id="entry-create">
  <div class="container">
    <h3>New Entry</h3>
    <form action="{{ request.route_url('add') }}" method="post">
      <ul>
        <li>
          <label for="title">Title</label>
          <input type="text" name="title" id="title-create" value="" size="30" maxlength="60" required autofocus/>
        </li>
        <li>
          <label for="text">Text</label>
          <textarea name="text" id="text-create" cols="60" rows="20" required></textarea>
        </li>
        <li>
          <div class="form-buttons">
            <button type="submit" id="save-button-create" class="button">Save</button>
            <a id="cancel-button-create" class="button" href="/">Cancel</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</section>
