{% extends "base.jinja2" %}
{% block body %}
  <section id="entry-detail">
    <div class="container">
      <article data-entry-id="{{ entry.id }}">
        <h1 id="title-detail">{{ entry.title|safe }}</h1>
        <span id="date-detail" class="date">{{ entry.created.strftime('%b. %d, %Y') }}</span>
        {% if request.authenticated_userid %}
        <form id="form-buttons-detail" action="{{ request.route_url('delete', id=entry.id) }}" method="post" class="form-buttons pull-right">
          <a id="edit-button-detail" class="button pull-right" href="{{ request.route_url('edit', id=entry.id) }}">Edit</a>
          <button id="delete-button-detail" type="button" class="button delete">Delete</button>
          <button id="delete-confirm-button-detail" type="submit" name="delete" class="button delete hidden">Confirm</button>
          <button id="delete-cancel-button-detail" type="button" name="delete" class="button hidden">Cancel</button>
        </form>
        <div id="twitter-button-div" class="clearfix pull-right">
           <a target="_blank" href="http://twitter.com/home?status={{ entry.title }} {{ request.route_url('detail', id=entry.id) }}"><img src="/static/img/twitter.png" alt="Twitter" class='twitter-button'></a>
        </div>
        {% endif %}
        <hr />
        <div id="text-detail">{{ entry.markdown|safe }}</div>
      </article>
    </div>
  </section>
  {% if request.authenticated_userid %}
    <div id="edit-container" class="hidden">
      {% include "edit_base.jinja2" %}
    </div>
  {% endif %}
{% endblock %}
