<section id="entry-edit">
  <div class="container">
    <h3>Edit Entry</h3>
    <form action="{{ request.route_url('edit', id=entry.id) }}" method="post">
      <ul>
        <li>
          <label for="title">Title</label>
          <input type="text" name="title" id="title-edit" value="{{ entry.title }}" size="30" maxlength="60" required autofocus/>
        </li>
        <li>
          <label for="text">Text</label>
          <textarea name="text" id="text-edit" cols="60" rows="20" required>{{ entry.text|safe }}</textarea>
        </li>
        <li>
          <div class="form-buttons">
            <button type="submit" id="save-button-edit" class="button">Save</button>
            <a id="cancel-button-edit" class="button" href="{{ request.route_url('detail', id=entry.id) }}">Cancel</a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</section>
