{% extends "base.jinja2" %}
{% block body %}
{% if request.authenticated_userid %}
  <section id="new-entry">
    <div class="container">
      <h3>Add Entry</h3>
      <ul>
        <li><a href="{{ request.route_url('create') }}" id="new-entry-button">New Entry</a></li>
      </ul>
    </div>
  </section>
{% endif %}
  <section id="entry-list">
    <div class="container">
      <h3>Journal Entries</h3>
      <ul>
        {% for entry in entries %}
        <li><a href="{{ request.route_url('detail', id=entry.id) }}" id="entry{{ entry.id }}" class="entry-link">{{ entry.title }}</a><span class="date">{{ entry.created.strftime('%b. %d, %Y') }}</span></li>
        {% else %}
        <li>
          <p><em>No entries here so far</em></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% if request.authenticated_userid %}
  <div id="create-container" class="hidden">
    {% include "create_base.jinja2" %}
  </div>
{% endif %}
{% endblock %}
