{% extends "base.jinja2" %}
{% block body %}
  <section id="login">
    <div class="container">
      <h3>Login</h3>
      {% if error -%}
      <p class="error"><strong>Error</strong>: {{ error }}
      {%- endif %}
      <form action="{{ request.route_url('login') }}" method="POST">
        <ul>
          <li>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
          </li>
          <li>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
          </li>
          <li class="form-buttons" class="control_row">
            <button type="submit" name="Login" class="button">Login</button>
          </li>
        </ul>
      </form>
    </div>
  </section>
{% endblock %}
